html,
body {
    width: 500px;
    height: 450px;
    overflow-y: auto;
}

.custom-header {
    background-color: #24355c;
}

.custom-header-title {
    color: #fff !important;
}

.content-container {
    margin-top: 10px;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.settings-btn {
    padding: 6px 10px;
}

.settings-btn i {
    color: #fff;
}

.filter-list {
    border-bottom: 1px solid #f0f0f0;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-filter-container {
    height: 360px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 89px;
    display: none;
}

.select-arrow-down {
    position: absolute;
    right: 30px;
    top: 35px;
}

.hidden-list {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    background-color: #eef1f7;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.hidden-list button.action {
    position: absolute;
    right: 0px;
    top: 3px;
}

.btn-container,
.hide-this {
    display: none;
}

.show-this {
    display: block;
}

.pointer {
    cursor: pointer;
}

.no-decoration,
a.no-decoration:hover {
    text-decoration: none;
}

.fword {
    background-color: #b3ccff;
}

.filter-list .items {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #7e97cd;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: #dae1f1;
}

.filter-list .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.filter-list .no-filter {
    font-size: 15px;
    font-weight: bold;
}

.add-filter-btn-container {
    border-bottom: 1px solid #f0f0f0;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.toast-top-full-width,
.toast-bottom-right {
    /*width: 100%;*/
}

.settings-title {
    font-weight: bold;
    font-size: 18px;
}

.second-nav {
    top: 50px;
    background-color: #fff;
}

.case-sen-con,
.v-con {
    font-size: 10px;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    border-radius: 3px;
    position: relative;
    top: -2px;
    cursor: default;
}

.case-sen-con {
    background-color: #ffb3b3;
}

.v-con {
    background-color: #99c2ff;
}

.f-normal {
    font-weight: normal;
}

.inline-elem {
    display: inline-block;
    margin-right: 10px;
}

.small-nav-right {
    display: inline-block;
    color: #fff;
    position: relative;
    top: 14px;
    font-size: 15px;
    float: right;
    right: 10px;
    cursor: pointer;
    margin-left: 15px;
}
