<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <button type="button" class="btn btn-primary" name="button" ng-click="vm.authenticate()">Authenticate</button>
      </div>
    </div>
  </div>
</div>
