<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Companies</h4>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="company in vm.companies">
          <td>{{ company.company_id }}</td>
          <td>{{ company.company_name }}</td>
          <td>
            <a ui-sref="users({id: company.company_id})">
              <button type="button" class="btn btn-primary" name="button">View Users</button>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
