<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a ui-sref="users({id: vm.company_id})">
        <button type="button" class="btn btn-warning" name="button">Back</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>All Tasks for {{ vm.user_name }}</h4>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Active</th>
        </tr>
        <tr ng-repeat="task in vm.tasks">
          <td>{{ task.task_id }}</td>
          <td>{{ task.task_name }}</td>
          <td>{{ task.active ? 'Yes' : 'No' }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
