<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a ui-sref="list">
        <button type="button" class="btn btn-warning" name="button">Back</button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Users</h4>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        <tr ng-repeat="user in vm.users">
          <td>{{ user.user_id }}</td>
          <td>{{ user.full_name }}</td>
          <td>
            <a ui-sref="tasks({company_id: user.company_id, user_id: user.user_id, user_name: user.full_name})">
              <button type="button" class="btn btn-primary" name="button">View Tasks</button>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
